
<div>
  <strong>Name:</strong>
  <%= @phone.name %>
</div>

<div>
  <strong>Brand:</strong>
  <%= @phone.brand %>
</div>

<div>
  <strong>Year Released:</strong>
  <%= @phone.year_released %>
</div>

<div>
  <strong>Camera:</strong>
  <%= @phone.camera %>
</div>

<div>
  <strong>Mpixels:</strong>
  <%= @phone.mpixels %>
</div>

<div>
  <strong>Internal Storage:</strong>
  <%= @phone.interna_stor %>
</div>

<div>
  <strong>Sim Slots:</strong>
  <%= @phone.sim_slots %>
</div>

<div>
  <strong>Screen size:</strong>
  <%= @phone.sc_size %>
</div>

<div>
  <strong>Operating System:</strong>
  <%= @phone.os %>
</div>

<div>
  <strong>Stock:</strong>
  <%= @phone.stock %>
</div>
